body {
    font-family: Arial, sans-serif;
    background-color: #2d2d30;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://static5.depositphotos.com/1022214/466/i/950/depositphotos_4661138-stock-photo-question-marks-different-colors-drawn.jpg);
   background-repeat: no-repeat;
   background-size: cover;
  }
  
  .quiz-container {
    background: rgb(247, 244, 244);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .hidden {
    display: none;
  }
  
  #choices {
    list-style: none;
    padding: 0;
  }
  
  #choices li {
    margin: 10px 0;
  }
  
  label {
    cursor: pointer;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #result {
    margin-top: 20px;
    font-weight: bold;
  }
  
  #score {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
  }